/* UTILITIES  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --trn-primary:#b91450;
}

body{
    height: 100vh;
    overflow-y: auto;
}

.container_style{
    height: 100vh;
    align-items: center;
}

.bg_color_primary{
    background-color: var(--trn-primary);
}

[id^="btn_"]{
    text-decoration: none;
    color: white;
}

[value="select"]{
    display: none;
}

.hidden {
    opacity: 0;
    transition: 0.5s;
}

.show {
    opacity: 1;
    transition: 0.5s;
}