/* UTILITIES  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px dashed;
}

body{
    height: 100vh;
    overflow-y: auto;
}
.container_style{
    display: flex;
    justify-content: center;
    margin: 20% auto;

}

[id^="btn_"]{
    text-decoration: none;
    color: white;
}

[value="select"]{
    display: none;
}